# Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
print('our data frame is:')
pd.Series([1 , 2 , 'Hossein' , 0 , np.nan , -1])

our data frame is:

0          1
1          2
2    Hossein
3          0
4        NaN
5         -1
dtype: object

Pandas sees the data as a spreadsheet.

In [3]:
dates = pd.date_range('20230101', periods=6)
dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
np.random.randn(6,4)

array([[-1.13600004, -1.35888502,  2.56408714,  1.46553542],
       [ 0.06404491,  1.89876263, -0.52787533, -0.30618284],
       [-0.25097316, -0.48730252,  0.60600227, -0.87497046],
       [-0.12146397, -0.0555751 , -0.11236695,  0.04593793],
       [ 0.32159563, -0.84980376, -0.66867784, -0.32069784],
       [-1.04860721, -0.74532025, -0.26929042,  1.4068943 ]])

In [5]:
df = pd.DataFrame(np.random.randn(6,4), index=dates)
df

                   0         1         2         3
2023-01-01  0.574076 -1.133852 -2.286928 -1.738701
2023-01-02  0.779434 -0.925013  1.257121 -0.490656
2023-01-03 -1.023162  1.329165 -1.013644 -1.374707
2023-01-04 -0.768827  0.347312 -0.546980  0.397389
2023-01-05 -1.335914  0.864491 -1.213359  0.537147
2023-01-06 -1.165864  1.734383  0.488393  0.553914

In [6]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2023-01-01 -1.324928 -0.470633 -0.286664 -2.165267
2023-01-02 -0.192900  0.686221  0.616158  0.128900
2023-01-03  1.371569 -1.161529  0.574603  0.147383
2023-01-04 -0.155228 -0.587427  0.980158  0.811348
2023-01-05  0.465754  0.134383  0.420649 -0.447760
2023-01-06  0.365365  0.609512  0.709353  0.481487

In [7]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [8]:
df['A']

2023-01-01   -1.324928
2023-01-02   -0.192900
2023-01-03    1.371569
2023-01-04   -0.155228
2023-01-05    0.465754
2023-01-06    0.365365
Freq: D, Name: A, dtype: float64

In [9]:
df.head()

                   A         B         C         D
2023-01-01 -1.324928 -0.470633 -0.286664 -2.165267
2023-01-02 -0.192900  0.686221  0.616158  0.128900
2023-01-03  1.371569 -1.161529  0.574603  0.147383
2023-01-04 -0.155228 -0.587427  0.980158  0.811348
2023-01-05  0.465754  0.134383  0.420649 -0.447760

In [10]:
df.head(2)

                   A         B         C         D
2023-01-01 -1.324928 -0.470633 -0.286664 -2.165267
2023-01-02 -0.192900  0.686221  0.616158  0.128900

In [11]:
df.tail(2)

                   A         B         C         D
2023-01-05  0.465754  0.134383  0.420649 -0.447760
2023-01-06  0.365365  0.609512  0.709353  0.481487

In [12]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.088272 -0.131579  0.502376 -0.173985
std    0.894607  0.731068  0.428612  1.061668
min   -1.324928 -1.161529 -0.286664 -2.165267
25%   -0.183482 -0.558229  0.459137 -0.303595
50%    0.105069 -0.168125  0.595380  0.138142
75%    0.440657  0.490730  0.686054  0.397961
max    1.371569  0.686221  0.980158  0.811348

In [13]:
df.mean()

A    0.088272
B   -0.131579
C    0.502376
D   -0.173985
dtype: float64

In [14]:
df["A"].mean()

0.08827211233811366

In [15]:
df[0:2]

                   A         B         C         D
2023-01-01 -1.324928 -0.470633 -0.286664 -2.165267
2023-01-02 -0.192900  0.686221  0.616158  0.128900

In [16]:
df.T

   2023-01-01  2023-01-02  2023-01-03  2023-01-04  2023-01-05  2023-01-06
A   -1.324928   -0.192900    1.371569   -0.155228    0.465754    0.365365
B   -0.470633    0.686221   -1.161529   -0.587427    0.134383    0.609512
C   -0.286664    0.616158    0.574603    0.980158    0.420649    0.709353
D   -2.165267    0.128900    0.147383    0.811348   -0.447760    0.481487

In [17]:
df.sort_values(by='B')

                   A         B         C         D
2023-01-03  1.371569 -1.161529  0.574603  0.147383
2023-01-04 -0.155228 -0.587427  0.980158  0.811348
2023-01-01 -1.324928 -0.470633 -0.286664 -2.165267
2023-01-05  0.465754  0.134383  0.420649 -0.447760
2023-01-06  0.365365  0.609512  0.709353  0.481487
2023-01-02 -0.192900  0.686221  0.616158  0.128900

In [18]:
df[df["A"] > 0]

                   A         B         C         D
2023-01-03  1.371569 -1.161529  0.574603  0.147383
2023-01-05  0.465754  0.134383  0.420649 -0.447760
2023-01-06  0.365365  0.609512  0.709353  0.481487

### Read and write operations

In [24]:
df.to_csv('data.csv')

In [25]:
df.to_excel('data.xlsx', sheet_name='Sheet1')

In [27]:
pd.read_csv('data.csv')

   Unnamed: 0         A         B         C         D
0  2023-01-01 -1.324928 -0.470633 -0.286664 -2.165267
1  2023-01-02 -0.192900  0.686221  0.616158  0.128900
2  2023-01-03  1.371569 -1.161529  0.574603  0.147383
3  2023-01-04 -0.155228 -0.587427  0.980158  0.811348
4  2023-01-05  0.465754  0.134383  0.420649 -0.447760
5  2023-01-06  0.365365  0.609512  0.709353  0.481487

Learning more: https://pandas.pydata.org/docs/user_guide/10min.html